header {
  z-index: 11;
  display: block;
  position: relative;
}

main {
  position: relative;
  z-index: 10;

  padding-left: 20px;
}

main .section:first-child {
  position: relative;
  margin-left: 20px;

  max-width: 1200px;
  width: calc(100% - 40px);

  background: #fff;
  border-radius: 32px 32px 0 0;

  padding: 32px 32px 32px 20px;
  box-sizing: border-box;

  z-index: 10;
}

header .nav-wrapper {
  background: #03164a;
  height: 72px;
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 3;
}

header .nav-logo img {
  height: 30px;
  width: 120px;
  display: block;
}

header .nav-secure img {
  height: 30px;
  width: 120px;
  display: block;
}

main .form-container{
  background-color: none;
}

main .section:first-child {
  background: none;
  border-radius: 32px 32px 0 0;
  padding: inherit;
  box-sizing: border-box;
  z-index: 10;
}