footer {
  background: #00164d;
}

footer .footer-wrapper {
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  color: #fff;
  font-size: 12px;
}